* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(19, 19, 19);
    line-height: 1.6;
}

header {
    background-color: rgb(19, 19, 19);
    padding: 20px;
    text-align: center;
    color: rgb(157, 149, 161);
    width: 30%;
    margin: 0 auto;
    p {
        color: rgb(137, 88, 161);
    }
    border-bottom: 3px solid rgb(125, 34, 199);
}

nav{
    background-color: rgb(19, 19, 19);
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    color:rgb(157, 149, 161);
}

nav a:hover{
    color: rgb(155, 83, 214);
}


#pioneiros {
    max-width: 800px;
    width: 90%;
    margin: 0 auto 30px auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 4px solid #8a2be2;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center; 
}

#internet {
    max-width: 800px;
    width: 90%;
    margin: 0 auto 30px auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 4px solid #8a2be2;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center; 
}

#internet h2, #internet aside {
    width: 100%; 
}

#pioneiros h2, #pioneiros aside {
    width: 100%; 
}

#pioneiros article {
    background-color: #0e0e0e; 
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 320px;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

#internet article {
    background-color: rgb(14, 14, 14); 
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 225px;
    padding: 20px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    ul, code{
        color: #bb86fc;
    }
}
#internet article:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.9);
    border: 2px solid #8a2be2;
}
#pioneiros article:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.9);
    border: 2px solid #8a2be2;
}
#pioneiros aside{
    background: #0e0e0e;
    border-radius: 16px;
    margin: 0 auto 30px auto;
    width: 450px;
    padding: 15px;
    border: 1px solid #8a2be2;
}

section {
    max-width: 800px;
    width: 90%;
    margin: 0 auto 30px auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 4px solid #8a2be2;
    gap: 30px; 
    justify-content: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #1e1e1e;
}

th, td {
    padding: 12px;
    text-align: left;
    color: #e0e0e0;
    background-color: #0e0e0e;
}

th {
    background-color: #383838;
    color: #bb86fc;
}

ol{
    list-style-type: disc;
    padding-left: 35px;
    color: #bb86fc;
}

ol li::marker{
    color: #9553d3;
    font-weight: bold;
}

ol li{
    padding-left: 3px;
    color: #e0e0e0;
}

figure, pre, code{
    font-style: italic;
    color: #cba3dd;

}
h2, h3, h4, caption {
    color: #bb86fc;
    margin-bottom: 15px;
    margin-top: 10px;
}

p, details{
    color: #e0e0e0;
}

details:hover{
    color: #9553d3;
}

details[open]{
   color: #9553d3;
}

blockquote{
    color: #843fac;
}

/* Forms */
fieldset {
    border: 1px solid #444;
    padding: 25px;
    border-radius: 8px;
    background-color: #121212;
    legend {
        color: #e4b7ff;
    }
}

label {
    display: block;
    font-weight: bold;
    color: #bb86fc;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #2b2b2b;
    border: 1px solid #444;
    color: #e0e0e0;
    border-radius: 4px;
    font-family: inherit;
}
input[type="text"]:focus, 
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #8a2be2;
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

input[type="submit"] {
    background-color: #8a2be2;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 10px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #6a1cb0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 40px 20px;
    color: #777;
    font-size: 0.9em;
    p{
        color: #777;
    }
}